In [1]:
list1=['Ram','Raheem','Robert']

list2=[25,30,35]

In [ ]:
'Ram has age 25'
'Raheem has age 30'
'Robert has age 35'

In [2]:
for i,j in zip(list1,list2):
    print(i,j)

Ram 25
Raheem 30
Robert 35

In [ ]:
#{key:value}

In [3]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1

#keys= 'Ram','Raheem','Robert'
#values=25,30,35

{'Ram': 25, 'Raheem': 30, 'Robert': 35}

In [4]:
d2={25:'Ram',30:'Raheem',35:'Robert'}
d2

#keys: 25,30,35
#values: 'Ram','Raheem','Robert'

{25: 'Ram', 30: 'Raheem', 35: 'Robert'}

In [5]:
d3={'even':[2,4,6],
   'odd':[3,5,7]}

d3

{'even': [2, 4, 6], 'odd': [3, 5, 7]}

In [ ]:
d4={[2,4,6]:'even',
   [3,5,7]:'odd'}      # fail

In [8]:
d4={(2,4,6):'even',
   (3,5,7):'odd'}

d4

{(2, 4, 6): 'even', (3, 5, 7): 'odd'}

In [9]:
# {'key':<{}>}
d5={'item_list':{'fruiits':'Apple'}}
d5

{'item_list': {'fruiits': 'Apple'}}

In [10]:
d6={{'fruiits':'Apple'}:'item_list'}
d6

TypeError: unhashable type: 'dict'

In [11]:
a=[1,2]
b=(1,2)

In [18]:
a,b=[1,2]
c,d=(1,2)
d

2

In [19]:
a=1,2
a

(1, 2)

In [20]:
d1={'A':1,'B':2,'A':1}
d1

{'A': 1, 'B': 2}

In [22]:
d1={'A':1,'B':2,'A':3}
d1

{'A': 3, 'B': 2}

- Dictionary is a key:value pair 

- at values postition you can take any data type

- at keys postion list and dictionary will fail

- Duplicates are not allowed

- If you will update a key value, latest value it will take

$type$

In [23]:
type(d1)

dict

- str

- list

- dict

- int

- float

- bool

- complex

- tuple

- set

In [24]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

max(d1)

# this maximum we are getting based on key or value

'Robert'

In [25]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':3}

max(d1)

'Robert'

- Maximum and minimum value based on key only

In [26]:
min(d1)

'Ram',     ord('m')
'Raheem',  ord('h')
'Robert'

'Raheem'

In [27]:
len(d1)

3

In [28]:
d1

{'Ram': 25, 'Raheem': 30, 'Robert': 3}

In [29]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [32]:
d2={100:'2',300:'4'}
sum(d2)

400

- if keys has numeric then we can do sum

In [35]:
'a'*'b'

TypeError: can't multiply sequence by non-int of type 'str'

- type

- len

- max

- min

- sum

$in$

In [40]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}


#'Ram':25  in d1  fail
    
'Ram'  in d1   # works

#25  in d1    # Fails

True

In [39]:
for i in d1:
    print(i)

Ram
Raheem
Robert

In [38]:
str1='apple'
'a' in str1

l1=[1,2,3]
1 in l1

for i in l1:
    print(i)

1
2
3

$index$

In [42]:
l1=[10,20,30,40]
l1[0]

str1='apple'
str1[0]

'a'

In [44]:
d1={'Ram':25,
 'Raheem':30,
 'Robert':35}

d1['Ram']

# can we get values using for loop

25

In [49]:
for key in d1:
    print("The age of {} is {}".format(key,d1[key]))

The age of Ram is 25
The age of Raheem is 30
The age of Robert is 35

In [51]:
for i in range(len(l1)):
    print(i,l1[i])

0 10
1 20
2 30
3 40

In [52]:
for key in range(len(d1)):
    print(key)
    #print("The age of {} is {}".format(key,d1[key]))  # possibile / not possible

0
1
2

**Creating a empty dictionary and update**

In [54]:
s=''

for i in 'apple':
    s=s+i
    
print(s)

apple

In [55]:
l=[i for i in range(10)]

l=[]
for i in range(10):
    l.append(i)
    
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
d1={}
d1['fruite']='Apple'
d1

{'fruite': 'Apple'}

In [57]:
d1={}
d1["First name"]="Nikita"
d1["sir name"]="Parolekar"
d1["Nativeplace"]="Dhule"
d1["State"]="Maharashtra"
d1

{'First name': 'Nikita',
 'sir name': 'Parolekar',
 'Nativeplace': 'Dhule',
 'State': 'Maharashtra'}

In [ ]:
# WAP create a dictionary based on two lists
# names=['Ram','Raheem','Robert']
# age=[25,30,35]
# d1={'Ram':25,'Raheem':30,'Robert':35}

names=['Ram','Raheem','Robert']
age=[25,30,35]

In [58]:
names=['Ram','Raheem','Robert']
age=[35,25,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j
dict1

############################################################
dict1={name:age for name,age in zip(names,age)}

{'Ram': 35, 'Raheem': 25, 'Robert': 30}

In [73]:
dict1={}
for i in range(len(names)):
    dict1[names[i]]=age[i]
    
#######################################################################
dict1={names[i]:age[i] for i in range(len(names))}

Ram 25
Raheem 30
Robert 35

In [68]:
list1=[]
for i in range(len(names)):
    list1.append(i)
    
list1=[i for i in range(len(names))]
list1

[0, 1, 2]

In [ ]:
#WAP take 5 random numbers
# and create a dictionary with even and odd

# Output: {'even':[20,22],'odd':[19,21,23]}

# step-1: take empty dictionary
# step-2: take two even and odd list
# step-3: import random
# step-4: for i in range(5):
# step-5:     num=random.randint(a,b)
# step-6:     if <even>:
# step-7:        append the values in even list
# step-8:    else:
# step-9:        append the values in odd list
# step-10: create dictinary

In [1]:
names=['Ram','Raheem','Robert']
age=[35,25,30]
dict1=dict(zip(names,age))
dict1

{'Ram': 35, 'Raheem': 25, 'Robert': 30}

In [16]:
import random
d1={'even':[], 'odd':[]}
[d1['even'].append(num) if (num:=random.randint(1,10))%2 == 0 else d1['odd'].append(num) for i in range(5)]
d1

{'even': [8, 2], 'odd': [1, 3, 7]}

In [32]:
rn = [random.randint(1,100) for _ in range(5)]

d1={'even':[num for num in rn if num%2 == 0],
    'odd':[num for num in rn if num%2 != 0]}

d1

{'even': [96, 18], 'odd': [31, 55, 5]}